body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  max-width: 100%;
  max-height: 90vh;
}



#preview {
  overflow: hidden;
  width: 415px; 
  height: 310px;
}

.portada_pic, .initHidden{
	visibility: hidden;
	display:none;
}